* {
	box-sizing: border-box;
}

body{
    background-color: #EEF9BF;
}

header{
    color:#75B79E;
    font-size: 36px;
    font-family: Roboto;
    margin-top: 40px;
    margin-bottom: 47px;
    text-align: center;
    min-width:335px;
}

.conteudo {
    min-width: 335px;
    padding-right: 116px;
    padding-left:122px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;  
}

.frente{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    width:117px;
    height:146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-bottom: 34px;
    margin-right: 17px;
    margin-left: 17px;
    position:absolute;   
    transition: all 0.5s;
    transform-style: preserve-3d;
    
         
}



.verso{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A7E9AF;
    width:117px;
    height:146px;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin-bottom: 34px;
    margin-right: 17px;
    margin-left: 17px;
    position:relative; 
    transition: all 0.5s;
    transform-style: preserve-3d;
    backface-visibility: hidden;  
      
}

.virada {
    transform: rotateY(180deg);
}


img{
    Width:100px;
    Height:100px;
}

.cartabloqueada{
  pointer-events: none;
}

